@mixin flexbox($horizontal, $vertical: center, $wrap: false) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
	@if ($wrap) {
		flex-wrap: wrap;
	}
}

@mixin grid($column, $size: 1fr) {
	display: grid;
	grid-template-columns: repeat($column, $size);
}

@mixin pseudoElement($location, $position: static, $contentElement: '') {
	@if ($position == absolute) {
		position: relative;
	}

	&::#{$location} {
		content: $contentElement;
		position: $position;
        @content
	}
}

