.main {
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__img {
		&-top {
			position: absolute;
			top: 132px;
			right: 0;
			width: 260px;
			z-index: -1;
		}

		&-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 260px;
			z-index: -1;
		}
	}

	&__title {
		font-size: 2em;
		color: #fff;
	}

	&__link {
		padding-block: 12px;
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		background-color: #854bfe;
		border: 0.5px solid #854bfe;
		border-radius: 12px;
        text-align: center;
	}
}
