.products {
	&__header {
		text-align: center;
	}
	&__banner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__profile {
		margin-top: 45px;
	}

	&__title {
		font-size: 20px;
		line-height: 40px;
		margin-top: 12px;
		margin-bottom: 25px;
		color: white;
		text-align: center;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-field {
			padding: 12px 20px 12px 54px;
			background: rgba(255, 255, 255, 0.07);
			border: 0.5px solid rgba(255, 255, 255, 0.3);
			border-radius: 6px;
			line-height: 24px;
		}

		&-label {
			position: relative;
		}
		&-search {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__lists {

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		gap: 20px;
		margin-top: 30px;
	}
	&__item {
		padding: 12px 12px 14px;
		background: rgba(255, 255, 255, 0.07);
		border: 0.5px solid rgba(255, 255, 255, 0.3);
		box-sizing: border-box;
		border-radius: 6px;

		&-title {
			font-size: 14px;
			line-height: 21px;
			color: white;
			margin-bottom: 10px;
		}

		&-prices {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
		}
	}
}
