.comments__item {
	background: #332f3c;
	border-radius: 10px;
	padding: 30px 25px 17px;
    margin-bottom: 20px;
}

.comments__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 14px;
    color: #ffffff;
}

.comments__text {
	font-size: 14px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.36);
	margin-bottom: 18px;
}

.comments__wrapper {
	display: flex;
	align-items: center;
}

.comments__icon {
	width: 40px;
	height: 40px;
	background: #f24b88;
	border-radius: 50%;
	margin-right: 13px;
}

.comments__link {
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}
