.news {
	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 30px;
		line-height: 45px;
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
	}

	&__title::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -15px;
		width: 73px;
		height: 5px;
		background-color: #59253e;
	}

	&__link {
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
	}

	&__wrapper {
		@include grid(3);
		column-gap: 26px;
		margin-top: 50px;

		@media (max-width: 1280px) {
			@include grid(2);
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			margin-top: 20px;
		}

		&-img {
			margin-bottom: 16px;
		}

		&-title {
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 18px;
			line-height: 27px;
			text-transform: uppercase;
			color: white;
		}
		
		&-text {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 21px;
			color: $text-color;
		}
	}
}
