.root {
    background-color: pink;
    padding: 20px; 
}

.root-child {
    background-color: blue;
    margin: 5px;
    padding: 50px;
    display: flex;
}


/* .root-child::after { */
/* .root-child::before { */
    /* content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 40px;
    background-color: red;
}


.root-child:hover::after {
    background-color: #00ff00;
} */


