* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__img-top {
  position: absolute;
  top: 132px;
  right: 0;
  width: 260px;
  z-index: -1;
}
.main__img-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 260px;
  z-index: -1;
}
.main__title {
  font-size: 2em;
  color: #fff;
}
.main__link {
  padding-block: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background-color: #854bfe;
  border: 0.5px solid #854bfe;
  border-radius: 12px;
  text-align: center;
}

.products__header {
  text-align: center;
}
.products__banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.products__profile {
  margin-top: 45px;
}
.products__title {
  font-size: 20px;
  line-height: 40px;
  margin-top: 12px;
  margin-bottom: 25px;
  color: white;
  text-align: center;
}
.products__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__form-field {
  padding: 12px 20px 12px 54px;
  background: rgba(255, 255, 255, 0.07);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  line-height: 24px;
}
.products__form-label {
  position: relative;
}
.products__form-search {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.products__lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.products__item {
  padding: 12px 12px 14px;
  background: rgba(255, 255, 255, 0.07);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
}
.products__item-title {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 10px;
}
.products__item-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

body {
  background-color: #101113;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding-inline: 20px;
  box-sizing: border-box;
}