.root__button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    background-color: #F24B88;
    text-transform: uppercase;
    color: #fff;
}