.news__header {
	display: flex;
	justify-content: space-between;
}

.news__title {
	font-size: 30px;
	line-height: 45px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
}

.news__title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 73px;
	height: 5px;
	background-color: #59253e;
}

.news__link {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
    text-decoration: none;
}
