<div class="comments">
    @@for(let i = 0; i < cards.length; i++) {
        <div class="comments__item">
            <h2 class="comments__title">`+cards[i].title+`</h2>
            <p class="comments__text">`+cards[i].text+`</p>
            <div class="comments__wrapper">
                <div class="comments__icon"></div>
                <a href="#" class="comments__link">`+cards[i].link+`</a>
            </div>
        </div>
    }
</div>