<div class="news__wrapper">
    @@for(let i = 0; i < newsList.length; i++) {
        <img class="news__img" src="`+newsList[i].img+`" alt="">
        <h3 class="news__title">`+newsList[i].title+`</h3>
        <p class="news__text">`+newsList[i].text+`</p>
        @@include('./button.html', {textBtn: 'see more', url: '#'})
    }
</div>