@import './helpers/reset';

@import './helpers/variable';
@import './helpers/mixins';

@import './common/button';

@import './sections/comments';
@import './sections/news';

body {
	background: #1f1c26;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info {
		max-width: 392px;
		margin-right: 100px;
	}

	&__title {
		font-size: 64px;
		line-height: 96px;
		color: white;
		margin-bottom: 80px;
	}
	&__text {
		font-size: 14px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.36);
		margin-bottom: 80px;
	}
}
