@import './helpers/reset';

@import './helpers/variable';
@import './helpers/mixins';

@import './sections/index';
@import './sections/product';
@import './sections/singleNFT';


body {
    background-color: #101113;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    padding-inline: 20px;
    box-sizing: border-box;
}