* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
.root__button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    background-color: #F24B88;
    text-transform: uppercase;
    color: #fff;
}
.comments__item {
	background: #332f3c;
	border-radius: 10px;
	padding: 30px 25px 17px;
    margin-bottom: 20px;
}

.comments__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 14px;
    color: #ffffff;
}

.comments__text {
	font-size: 14px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.36);
	margin-bottom: 18px;
}

.comments__wrapper {
	display: flex;
	align-items: center;
}

.comments__icon {
	width: 40px;
	height: 40px;
	background: #f24b88;
	border-radius: 50%;
	margin-right: 13px;
}

.comments__link {
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}

.news__header {
	display: flex;
	justify-content: space-between;
}

.news__title {
	font-size: 30px;
	line-height: 45px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
}

.news__title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 73px;
	height: 5px;
	background-color: #59253e;
}

.news__link {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
    text-decoration: none;
}

body {
	background: #1f1c26;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__info {
	max-width: 392px;
	margin-right: 100px;
}

.hero__title {
	font-size: 64px;
	line-height: 96px;
	color: white;
    margin-bottom: 80px;
}

.hero__text {
    font-size: 14px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.36);
    margin-bottom: 80px;
}
