h1 {
    -webkit-animation: test 1s inifinite;
    animation: test 1s inifinite;
}

@-webkit-keyframes test {
    from {
        font-size: 16px;
    } to {
        font-size: 50px;
    }
}

@keyframes test {
    from {
        font-size: 16px;
    } to {
        font-size: 50px;
    }
}