.root__button {
	display: inline-block;
	padding: 20px 30px;
	border-radius: 10px;
	font-size: 20px;
	line-height: 30px;
	background-color: $primary-color;
	text-transform: uppercase;
	color: #fff;

	&--small {
        padding: 13px 23px;
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
	}
}

