<div class="news__wrapper">
    @@for(let i = 0; i < newsList.length; i++) {
        <div>
        <img class="news__wrapper-img" src="`+newsList[i].img+`" alt="">
        <h3 class="news__wrapper-title">`+newsList[i].title+`</h3>
        <p class="news__wrapper-text">`+newsList[i].text+`</p>
        @@include('./button.html', {textBtn: 'see more', url: '#', modify: 'small'})
        </div>
    }
</div>